version: 2.1
jobs:
  build:
    docker:
      - image: openjdk:8
    working_directory: ~/repo
    parameters:
      publish:
        type: boolean
        default: false
    steps:
      - checkout

      - run:
          name: install coursier
          command: curl -L -o coursier https://git.io/vgvpD && chmod +x coursier

      # The install started failing on CircleCI, it gets some HTML content instead of the package.
      - run:
          name: install scalafmt
          command: test -f scalafmt || ./coursier bootstrap org.scalameta:scalafmt-cli_2.12:2.7.4 -f -r sonatype:snapshots --main org.scalafmt.cli.Cli --standalone -o scalafmt

      - run:
          name: install mill
          command: sh -c '(echo "#!/usr/bin/env sh" && curl -L https://github.com/lihaoyi/mill/releases/download/0.4.1/0.4.1) > /usr/local/bin/mill && chmod +x /usr/local/bin/mill'

      - run:
          name: unit tests
          #command: mill scalanet.test && mill scalanet.scoverage.htmlReport
          command: mill __.ut

      - run:
          name: integration tests
          command: mill __.it

      - run:
          name: check that the code is formatted properly
          command: test -f scalafmt && ./scalafmt --test || echo "scalafmt not installed"

      - when:
          condition: << parameters.publish >>
          steps:
            - run:
                name: install gpg2
                # GPG in docker needs to be run with some additional flags
                # and we are not able to change how mill uses it
                # this is why we're creating wrapper that adds the flags
                command: sh -c "apt update && apt install -y gnupg2 && mv /usr/bin/gpg /usr/bin/gpg-vanilla && echo '#!/bin/sh\n\n/usr/bin/gpg-vanilla --no-tty --pinentry loopback \$@' > /usr/bin/gpg && chmod 755 /usr/bin/gpg && cat /usr/bin/gpg"

            - run:
                name: install base64
                command: apt update && apt install -y cl-base64

            - run:
                name: publish into Sonatype
                command: .circleci/publish

      # scoverage disabled
      #- store_artifacts:
          #path: out/scalanet/scoverage/htmlReport/

workflows:
  build_and_publish:
    jobs:
      - build:
          publish: true
          filters:
            branches:
              only:
                - develop
      - build:
          publish: false
          filters:
            branches:
              ignore:
                - develop
